body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  /* para controlar la alineacion tanto en el eje horizontal como en el vertical */
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}